<div id="mySidenav" class="sidenav">
    <div class="navcollapsed">
        <button
        class="navbar-toggler"
        type="button"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
    <div class="navexplanded">
        <a href="javascript:void(0)" class="closebtn" (click)="toggle()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
  </div>

