.sidenav {
  float: left;
  margin-right: 50px;
    height: 100vh;
    width: 50px;
    position: inherit;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgb(7, 71, 166);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    float: right;
    margin-right: 25px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #btnmenu
  {
   background-color:transparent; 
   border: none;
   margin-right: auto;
   margin-left: auto;
  }
  fa-icon
  {
   color:white; 
  }

  @media screen and (max-width:500px)
{
  .sidenav {
    width: 100% !important ;
    height: 50px !important ;
    position: inherit;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgb(7, 71, 166);
    overflow-x: hidden;
    transition: 0.5s;
  }
  .navcollapsed
  {
    height: 50px !important;
  }
  .navexpanded
  {
    height: 250px !important;
  }

  #btnmenu
  {
   background-color:transparent; 
   border: none;
   margin-right: 10px !important;
   margin-left: auto;
  }

}

.navcollapsed
{
  width: 50px;
}
.navexpanded
{
  width: 250px;
}
