<div id="mySidenav" class="sidenav" [ngClass]="{'navcollapsed':isExpanded ,'navexpanded':!isExpanded}">
    <div class="d-flex" [ngClass]="{'d-none': !isExpanded }">  
      <button
      [ngClass]="{'d-none': !isExpanded }"
      class="mx-auto togglebtn"
      id="btnmenu"
      type="button"
      (click)="toggle()">
      <fa-icon
      [icon]="faBars">
    </fa-icon>
  </button>

    </div>
    <div class="" [ngClass]="{'d-none':isExpanded }">
        <a href="javascript:void(0)" class="togglebtn" (click)="toggle()">      
          <fa-icon
          [icon]="faChevronLeft">
        </fa-icon></a>
        <a href="#" [routerLink]="['/']">Home</a>
        <a href="#" [routerLink]="['/fetch-data']">Fetch Data</a>
        <a href="#">Menu 3</a>
        <a href="#">Menu 4</a>
    </div>
  </div>
  
